*{

    box-sizing: border-box;
    
    
}
body{
    
    background-color: #0B0F1A;

}
:root {

    /*colores bloques*/

    --color-bloques: #0F172A;
    --color-bloques2: #232835;

     /* Letras */

    --color-texto: hsl(0, 0%, 100%);
    --color-texto2: hsl(0, 2%, 62%);
    --fuente:'Inter', sans-serif;

}
/*Encabezado----------------------------------------------------------------*/

header{ 
    display: flex;
    background-color: var(--color-bloques);
    align-items: center;
    justify-content: space-between;
    width: 100%;

  
}
.logo{
    display: flex;
    gap: 0.5rem;
}

.logo img{

    height: 70px;
    width: 70px;
    margin: 20px;
    border-radius: 10px;
    
}
.titulo1{
    color: var(--color-texto);
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 3px;
}

.titulo1 p{
    width: 250px;
    margin: auto;
    font-family: var(--fuente);

}

.Navegacion {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 0;
    gap: 2rem;

}
.Navegacion a{
    color: var(--color-texto);
    font-size: 25px;
    font-family: var(--fuente);

}

main{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; 
    align-items: center;
}
.Manual{

    text-align: left; 
    width: 100%;       
    max-width: 800px; 
    margin: 0 auto;
    background-color: var(--color-bloques);
    border: 2px solid grey;
    border-radius: 10px;
}



.titulo2{
    display: grid;
    place-items: center;
    font-family: var(--fuente);
    color: var(--color-texto);
    padding: 1px;

}
.titulo2 h1{
    font-size: 40px;
    background: linear-gradient(to right, red, green, orange, purple, pink);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0.5rem;

}
.titulo2 p{
    margin-top: 0;
    
}